<nav class="container">
    <app-navpanel-item [name]="'Dashboard'"></app-navpanel-item>
    <app-navpanel-item [name]="'Matches'"></app-navpanel-item>
    <app-navpanel-item [name]="'My Club'"></app-navpanel-item>
    <hr class="divider">
    <app-navpanel-item [name]="'General'"></app-navpanel-item>
    <app-navpanel-item [name]="'Focus Areas'"></app-navpanel-item>
    <app-navpanel-item [name]="'Maps'"></app-navpanel-item>
    <app-navpanel-item [name]="'Aim'"></app-navpanel-item>
    <app-navpanel-item [name]="'Utility'"></app-navpanel-item>
    <hr class="divider">
    <app-navpanel-item [name]="'Practice Servers'"></app-navpanel-item>
    <hr class="divider">
    <app-navpanel-item [name]="'Free Pro'"></app-navpanel-item>
    <hr class="divider">
    <app-navpanel-item [name]="'CS2 Hub'"></app-navpanel-item>
    <hr class="divider">
</nav>