.navbar {
    background-color: var(--content-background-color);

    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
        font-size: 1.5rem;
    }

    .left {
        flex-grow: 1;

        display: flex;
        justify-content: flex-start;
    }

    .center {
        flex-grow: 1;
        
        display: flex;
        justify-content: center;
    }

    .right {
        flex-grow: 1;
        
        display: flex;
        justify-content: flex-end;
    }
}